.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 600px;
  height: 600px;
  background-image: url("../../store/chat-bg.jpg");
  padding: 0;
}
.modal-container-user {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 700px;
  height: 700px;
  background-image: url("../../store/chat-bg.jpg");
  padding: 0;
}

.messages-section {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(192, 183, 183);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sender-message {
  background-color: #dcf8c6;
  border-radius: 7.5px;
  padding: 7px 12px;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 75%;
}
.recipient-message {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border-radius: 7.5px;
  padding: 7px 12px;
  margin: 2px;
  max-width: 75%;
}
.user-list-open-close-btn {
  margin-right: 0;
  margin-left: auto;
}
.user-name-top {
  margin: auto;
  padding-left: 7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.message-input {
  height: calc(1.5em + 0.75rem + 16px);
  border-radius: 0;
  font-size: 1.1rem;
  border: 0;
}
.message-input:visited,.message-input:focus{
  box-shadow: none;
}
.send-btn {
  width: 8rem;
  border-radius: 0;
  font-size: 1.1rem;
}
.message-type-send-container {
  justify-content: space-between;
}
.open-user-list {
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffff;
}

.close-user-list {
  display: none;
  flex-direction: column-reverse;
  background-color: #ffff;
}

@media screen and (max-width: 767px) {
  .modal-container {
    width: 100%;
    height: auto;
    min-height: 60%;
    max-height: 400px;
  }
  .send-btn {
    width: auto;
  }
  .modal-container-user {
    width: 100%;
    min-height: 60%;
    max-height: 400px;
  }
  .user-name-top {
    padding-left: 2rem;
  }
}
