.creatExampleImage {
  max-width: 20rem;
  min-width: 20rem;
  max-height: 15rem;
  min-height: 15rem;
  border-radius: 20px;
  border: 1px solid rgb(135, 222, 139);
}

.alert-success,
.alert-danger {
  margin: 5rem;
  padding: 5rem;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.disabled-back {
  opacity: 0.6;
  cursor: not-allowed;
}
.form-create {
  width: 50%;
}

.dropdown {
  width: 100%;
  margin-bottom: 1rem;
}

.showUploadPhoto {
  width: 8rem;
}
.explanation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding: 2rem;
}
@media only screen and (max-device-width: 767px) {
  .createWish-row {
    display: inline-block;
    width: 100%;
  }

  .form-create {
    width: 100%;
  }
  .alert-success,
  .alert-danger {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
}
