.product-card {
  margin: 10px;
  max-width: 345px;
  min-width: 345px;
}
.card-container{
  box-shadow: 1px 5px 10px 1px rgb(207, 207, 207);
  border:none;
  margin-bottom: 1.2rem;
}
.user-product-container > .user-product-card >.product-card{
  height: 100%;
  max-height: 550px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
}
@media only screen and (max-device-width: 767px) {
  .product-card {
    margin: 0;
    margin-bottom: 1rem;
    max-width: 100%;
    min-width: 100%;
    height:auto;
    max-height: auto;
  }

  .card-photo {
    min-width: 100%;
  }
}
