.product-card {
    margin: 10px;
    max-width: 345px;
    min-width: 345px
}

@media only screen and (max-device-width:767px) {
    .product-card {
        margin:0;
        margin-bottom: 1rem;
        max-width: 100%;
        min-width: 100%;
    }

    .card-photo {
        min-width: 100%
    }
}