.product-div {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
  max-width: 19rem !important;
  min-width: 19rem !important;
  margin-bottom:2.6rem;
  
}
.product-title{
  font-weight:bold;
  font-size:18px;
  color:black;
}
.product-condition{
  font-weight: 500;
  color:black;
  margin:0;
}
.images {
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 18rem !important;
  max-height: 18rem !important;
  object-fit: cover !important;
  border: 1px solid rgb(226, 215, 215)!important;
  
}

.productList-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  background-color: #F0F2F5;
  margin: 0px !important;
}


@media only screen and (max-device-width:767px) {
  .images {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .product-div {
    margin-right: 0 !important;
    margin-left:0!important;
    max-width: 100% !important;
    min-width: 100% !important;

  }

  .product-detail {
    margin-left: 1rem;
  }

  .productList-container {
    display: block;
    padding-top: 1.5rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .productList-menu {
    margin-top: 0;
    max-width: 100%;
margin-bottom: 1rem;
  }

  .productList-main {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

}